**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.env
**/.venv
**/venv
**/env
**/ENV
**/build
**/dist
**/.git
**/.gitignore
**/.gitattributes
**/node_modules
**/bower_components
**/.vscode
**/*.log
**/*.sqlite3
**/*.db
docker-compose*.yml
Dockerfile*
README.md
LICENSE
**/*.md
**/*.json
data/db